!DOCTYPE html>
<html>
  <head>
    <title>Elexis Tes | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
  	xxx
<table class="profile" summary="Profile information">
  <tr><td> links </td> 
    <%= yield %>
	<td> rechts </td>
	</tr>
	</table>
  </body>
</html>

