<h1>Hilfe</h1>
<p>
	Im Moment ist noch keine Hilfe zum Elexis-Test erhältlich.
	<br>
	Anfragen können an <a href="mailto:niklaus.giger@member.fsf.org?subject=elexis-test feedback>">Niklaus Giger</a> gerichtet werden.
</p>
