<h1>Elexis Test</h1>
<p>
Dies ist eine Demo, welche Ideen aufzeigt wie 
<a href="http://elexis/">Elexis</a>
getestet werden könnte.
</p>
<%= link_to "Anmelden", signup_path, :class => "signup_button round" %>
