<h1>Elexis Test</h1>
<p>
Dies ist eine Demo, welche Ideen aufzeigt wie 
<a href="http://www.elexis.ch/">Elexis</a>
getestet werden könnte.</p>
<li>Dieses Programm wird von COSRE GmbH, Yverdon, gesponsort.</li>
<li>COSRE will damit die bestmögliche Qualtität der französische Version von Elexis sicherstellen.</li>
<li>Es gibt noch keinen Termin für die französische Version von Elexis.</li>
<%= link_to "Anmelden", signup_path, :class => "signup_button round" %>
