<div>
<b>Version: <%= product_version.name %><br> </b>
Beschreibung: <%= product_version.description %><br>
Bemerkungen: <%= raw RedCloth.new(product_version.remarks).to_html %><br>
Erstellt von: <%= product_version.user_id %> <br>
<br>
</div>
