<h1>All product versions</h1>
<%= link_to 'New Product version', new_product_version_path %>
<%= will_paginate %>
<ul class="product_ersions">
<%= render @product_versions %>
</ul>
<%= will_paginate %>
